.header-div{
	    width: 100%;
	    height:100px;
	    background-color: rgb(27, 72, 145);
	    top: 0;
	    left: 0;
	    position: fixed;
	    color:white;
	}
	.bodyAndFooter{
		margin-top:100px;
	}
	.footer{
		  position: fixed;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1rem;
		  background-color: #efefef;
		  text-align: center;
	}
	.nav{
		width:60%;	
		margin-top:40px;
		font-size:1.1em;
	}
	.logo-img{
		width:300px;
	}
	.logo{
		margin-top:20px;
		width:30%;
		float:left;
	}
	.nav span{
		margin-right:10px;
	}